



#barra{    
    background: #545454;
    border-radius: 0pt 0pt 50pt 0pt;
    height: 50pt;
    display: flex;  
    justify-content: space-between;    
    flex-direction: row;
}

#btn{
    display: flex;    
    justify-content: start;
    align-items: center;       
    border-radius: 1000px; 
    background-image: url(/src/assets/img/logoinvertido_branco.png);
    background-size: cover;
    width: 70pt;
    height: 70pt;

    margin-left: 15pt;
    margin-top: 15pt;

    transition: 0.5s;
    border: none;
}

#btn:hover{

    background-image: url(/src/assets/img/logoinvertido_preto.png);
    background-size: cover;
}


/* Navbar Lista */

#lista{
   margin-top: 13pt;
   margin-right: 50pt; 
}

list{    
   display: flex;  
   justify-content: end;
   align-items: center;      
   flex-direction: row;   
   flex-wrap: nowrap;
}

ul{    
    list-style-type: none;
}



ul>a{    
    font-family: 'Blinker', sans-serif;
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
    font-size: 20px;
}

ul>div>a{    
    font-family: 'Blinker', sans-serif;
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
    font-size: 20px;
}

#btnAdm{
    display: flex;    
    flex-direction: column;        
}

#adm{
    font-family: 'Blinker', sans-serif;
    font-size: 10pt;
    width: 50pt;

    position: absolute;
    height: 5pt;    
    color: #ffffff00;
    background-color: #676767;
    top: 50pt;
    right: 128pt;
    border: none;
    
    border-radius: 0pt 0pt 50pt 50pt;

    transition: 1s;
}

#adm:hover{
    height: 15pt;    
    color: #ffffff;
    }



ul>a:hover{
    color: #999999;
}



