/* Sobre */

#Sobre{
    margin-top: 20pt;
}

#Pessoa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scale: 0.8;

    margin-bottom: 5pt;

}

#spanSobre{
    font-family: 'Bebas Neue', cursive;
    font-size: 18pt;
}

#Fundo{
    background-color: #545454;
    color: aliceblue;

    padding: 15pt;
    margin-bottom: 10pt;

    border-radius: 30pt;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.35);
}

div>img#perfil{

    height: 150pt;

    border-radius: 150pt;
}

div>p{
    font-family: 'Blinker', sans-serif;
    font-size: 15pt;
    margin-bottom: 4pt;
}