#ModoDeEdição{
    display: flex;
    align-items: center;
    justify-content: center;   
    color: #5454544f;        
    
    font-family: 'Bebas Neue', cursive;
    
    user-select: none;
    font-size: 50pt;
        
    scale: 0.5;    
    margin-bottom: -45pt;
    padding-bottom: -15pt;
}