.ModoDeEdição{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 35%;    
    
    font-family: 'Bebas Neue', cursive;
    
    user-select: none;
    font-size: 50pt;
        
    scale: 0.5;    
}