.prodCard{
    display: flex;
    flex-direction: column;
    gap: 15pt;

    align-items: center;
    justify-content: center;

    margin: 15pt;
    
    width: 275pt;
    height: 250pt;
    


    background-color: #545454 ;
    color: aliceblue;
}